
@import url(/src/commonStyle/section-game/section-game.css);;


body {
  font-family: 'Redressed', sans-serif;
  background-color: white;
}


* {
  box-sizing: border-box;
}

.container {
  padding: 25px;
}

a {
  text-decoration: none;
  color: white;
}
