
@import url(/src/commonStyle/section-game/section-game.css);
@import url(/src/commonStyle/overlay/overlay.css);


body {
  font-family: 'Redressed', sans-serif;
  background-color: white;
}


* {
  box-sizing: border-box;
}

.container {
  padding: 25px;
}

a {
  text-decoration: none;
  color: white;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.none {
  display: none !important;
}