.section-game__field-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: relative;
    list-style-type: none;
    height: 100px;
    background-color: red;
    font-size: 20px;
    color: black;
}
  
.Cover-remove.section-game__field-item::before {
    content: '';
    background-image: none;
}

.Cover-remove {
    font-size: 60px;
}

.section-game__field-item_error {
    outline: 1px solid red;
}
